$primary-color: #F653A2;
$bgc: #0D106E;
$footer-bgc: #01083E;
$text-color: #5EAFE1;
$meta-color: #999999;
$border-color: $text-color;
$code-color: $text-color;
$code-bgc: #eeeeee;
$serif-font: 'Adamina', serif;
$sans-font-hl: 'moche', sans-serif;
$sans-font: 'pexico', sans-serif;
$main-font: $sans-font;
$breakpoint: 1100px;
$breakpoint-mobile: 600px;
$container-lg: 1410px;
$btn-border-color: #4D76FD;
$min-width: 350px;
$twitter-color: #2EA5F0;
$github-color: #2F2F2F;
$telegram-color: $twitter-color;
$discord-color: #5A6AEF;
