mixin hdx-left-body-icon
    .hdx-left-body-icon-container
        img.hdx-left-body-icon(src=url('/images/background-body-icon.svg'))
        .hdx-left-body-icon-wrapper
            img.hdx-left-arrow-body-icon(src=url('/images/right-blue-arrow.png'))