mixin hdx-info-box(hdxInfoBoxTitle, hdxInfoBoxText)
    .hdx-info-box-wrapper.h-box-shadow
        .hdx-info-box-wrapper__title.p-shadow.p-color=hdxInfoBoxTitle
        .hdx-info-box-wrapper__text=hdxInfoBoxText