mixin hdx-right-body-icon
    .hdx-right-body-icon-container
        img.hdx-right-body-icon(src=url('/images/background-body-icon2.svg'))
        .hdx-right-body-icon-wrapper
            img.hdx-right-arrow-body-icon(src=url('/images/left-pink-arrow.png'))