mixin hdx-chart-legend-item(legendName, boxColor)
    .hdx-chart-legend-item-container
        .hdx-chart-legend-item-box-color(style=`background-color: ${boxColor}`)
        .hdx-chart-legend-item-text=legendName