.page-index {
  .header-background {
    background-size: contain;
    background-image: url("./images/new-header-background.png");
    background-repeat: no-repeat;
    display: flow-root;
    height: 1375px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    min-width: $min-width;

    @media (max-width: breakpoint-min('xl')) {
      background-size: cover;
      background-position-x: right;
      height: 975px;
      top: -80px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bgc);
        opacity: 0.5;
      }
    }
  }

  .section-1 {
    margin: 6em auto;

    @media (max-width: breakpoint-min('lg')) {
      margin: 3em auto;

      .section-1-info-box {
        margin: 0;

        .info-box {
          margin: 0 0 2em 0;
        }
      }
    }

    @media (max-width: breakpoint-min('sm')) {
      img.hydradx {
        max-width: 300px;
      }
    }
  }

  img.hydradx {
    max-width: 600px;
  }

  .headline-1 {
    color: var(--primray-color);
    text-align: center;
    text-transform: uppercase;
    max-width: 1205px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-1-info-box {
    max-width: 960px;
    margin: 4em auto;

    .info-box {
      margin: 15px;
    }
  }

  .headline-2 {
    @extend .p-color;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em;
  }

  .section-2 {
    margin-bottom: 10em;

    @media (max-width: breakpoint-min('xl')) {
      margin-bottom: 7em;
    }

    @media (max-width: breakpoint-min('sm')) {
      margin-bottom: 6em;
    }
  }

  .section-2-building-with-us {
    position: relative;
    margin-top: 4em;

    @media (max-width: breakpoint-min('xl')) {
      .join-hydration {
        margin-bottom: 12em;
      }

      .community {
        max-width: 900px;
        margin: auto;
      }
    }

    @media (max-width: breakpoint-min('sm')) {
      .join-hydration {
        text-align: right;
      }
    }
  }

  .weird-stroke {
    background-image: url("./images/weird_stroke.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 765px;
    position: absolute;
    top: -50px;
    left: -257px;
    z-index: -1;

    @media (max-width: breakpoint-min('xxl')) {
      height: 590px;
      left: -210px;
      top: -33px;
    }

    @media (max-width: breakpoint-min('xl')) {
      left: -280px;
      top: -42px;
    }

    @media (max-width: breakpoint-min('lg')) {
      left: -385px;
      top: -50px;
    }

    @media (max-width: breakpoint-min('md')) {
      left: -280px;
      top: -5px;
    }

    @media (max-width: breakpoint-min('sm')) {
      left: -230px;
      top: -40px;
      height: 600px;
      width: 600px;
    }

    @media (max-width: 430px) {
      left: -230px;
      top: -22px;
      height: 500px;
      width: 500px;
    }
  }

  .section-3 {
    margin-top: 8em;
    margin-bottom: 15em;
    position: relative;

    p.heading {
      margin-top: 0;
      color: var(--primray-color);
      @extend .p-shadow;
    }

    span.text {
      font-size: 20px;
    }

    .row-2 {
      margin-top: 6em;
    }

    .box-2 {
      margin-top: 4em;
    }

    .box-3 {
      margin-top: 5em;
    }

    @media (max-width: breakpoint-min('xl')) {
      margin-top: 0;
      margin-bottom: 8em;

      .weird-logo-circling {
        position: static;
        height: 300px;
        background-size: 60%;
      }

      .box-2, .box-3 {
        margin-top: 0;
      }

      .row-2 {
        margin-top: 0;
      }

      .row {
        margin-top: 0;
        > div {
          margin-bottom: 1.5em;
        }
      }

      .info-box {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }

    @media (max-width: breakpoint-min('lg')) {
      margin-bottom: 5em;
    }

    @media (max-width: breakpoint-min('sm')) {
      span.text {
        font-size: 1em;
      }

      p.heading {
        font-size: 1.1em;
      }

      .weird-logo-circling {
        background-size: 100%;
      }
    }
  }

  .weird-logo-circling {
    background-image: url("./images/logo-our-mission.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 912px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-mission {
    @media (max-width: breakpoint-min('sm')) {
      .listing {
        font-size: 1em;
      }
    }
  }

  .member-of {
    margin-bottom: 4em;
  }

  .members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      margin: 1.5em 3em;
    }
  }

  .about-the-team {
    max-width: 360px;
    margin: 0 auto 5em auto;
    font-size: 16px;

    h2 {
      margin-bottom: 1.5em;
    }
  }

  table.table.roadmap {
    margin-bottom: 5em;
    margin-top: 2em;

    border: 2px solid var(--primray-color);
    box-shadow: 0px 0px 40px rgba(246, 83, 162, 0.5);
    border-radius: 5px;
    width: 100%;
    border-spacing: 0;

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

    td {
      padding: 0.3em 1em;
      border-bottom: 1px solid var(--primray-color);
      border-right: 1px solid var(--primray-color);

      &.milestone {
        vertical-align: top;
        padding: 0.7em 1.5em;
      }

      &:last-child {
        border-right: none;
        vertical-align: top;
      }

      &.task:not(.task-last), &.done:not(.task-last) {
        border-bottom: none;
        padding-bottom: 0;
      }

      li.listing__item {
        padding: 0;
      }

      &.task-last {
        padding-bottom: 0.7em;
      }

      &.task-first {
        padding-top: 0.7em;
      }
    }

    @media (max-width: breakpoint-min('sm')) {
      td.milestone {
        padding: 0.7em 1em;
      }
    }
  }
}
