.page-404 {
    .notfound-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notfound {
        text-align: center;

    }

    .notfound-text {
        font-size: 28px;
    }
}
