.page-democracy {
  .header-background {
    background: url("./images/repeat-header-background.png") repeat;
    display: flow-root;
    height: 1162px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 56px;
    left: 0;
    min-width: $min-width;
  }


  .header-background-inner {
    position: relative;
    height: 100%;
  }

  .hdx-d-transform-background {
    background: linear-gradient(169.35deg, rgba(13, 17, 128, 0) 5.56%, #0D1064 97.97%);
    height: 2200px;
    width: 100%;
    position: absolute;
    bottom: -220px;
  }

  .hdx-d-content-box {
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .hdx-d-top-content-title {
    margin-bottom: 22px;
  }

  .hdx-d-top-content-text {
    max-width: 879px;
  }

  .hdx-d-content-title {
    color: var(--primray-color);
    text-align: center;
    text-transform: uppercase;
    margin: 0 280px;
  }

  .hdx-d-info-box-title {
    color: var(--primray-color);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .hdx-d-middle-content-container {
    margin-top: 115px;
  }

  .hdx-d-more-information-btn {
    margin-top: 40px;
  }

  .hdx-d-top-content-info-box-item:last-child {
    padding-left: 70px;
  }

  .hdx-d-avantage-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
  }

  .hdx-d-info-box-small-title {
    color: var(--primray-color);
    text-shadow: 0px 0px 10px rgba(246, 83, 162, 0.81);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }

  .hdx-d-advantage-item {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hdx-d-advantage-item__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  .hdx-d-middle-content-container {
    background-size: 100% auto;
    background-image: url("./images/home-background.png");
    background-repeat: no-repeat;
    display: flow-root;
    height: 795px;
    z-index: -1;
    width: 100%;
    min-width: $min-width;
    background-position: center bottom;
    padding-top: 210px;
    margin-top: -125px;
  }

  .hdx-d-hydradx-concil {
    margin-top: 144px;
  }

  .hdx-d-hydradx-concil-icon-title {
    margin: 0 80px;
  }

  .hdx-d-hydradx-concil-img {
    width: 100%;
    max-width: 518px;
    height: auto;
  }

  .hdx-d-hydradx-concil-item:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hdx-d-info-box-text {
    margin-bottom: 20px;
  }

  .hdx-d-technical-commitee {
    margin-top: 80px;
  }

  .hdx-d-technical-commitee-item:first-child {
    padding-right: 40px;
  }

  .hdx-d-technical-commitee-item:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hdx-d-technical-commitee-img {
    width: 100%;
    max-width: 715px;
    height: auto;
  }

  .hdx-d-bottom-content-img {
    width: 412px;
    height: 268px;
    margin-top: -168px;
    z-index: -1;
  }

  .hdx-d-bottom-content-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .hdx-d-bottom-content-text {
    font-size: 32px;
    line-height: 52px;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }

  .hdx-d-bottom-content-text-wrapper {
    text-align: center;
    padding: 66px 300px 50px;
  }

  @media (max-width: breakpoint-min('xxl')) {
    .hdx-d-hydradx-concil-img {
      //width: 448px;
      //height: 448px;
    }

    .hdx-d-content-title {
      margin: 0 180px;
    }

    .hdx-d-technical-commitee-img {
      //width: 558px;
      //height: auto;
    }

    .hdx-d-advantage-item {
      padding-right: 20px;
      padding-left: 20px;
    }

    .hdx-d-bottom-content-img {
      margin-top: -188px;
    }
  }

  @media (max-width: breakpoint-min('xl')) {
    .hdx-d-content-title {
      margin: 0 100px;
    }

    .hdx-d-hydradx-concil-img {
      //width: 400px;
      //height: 400px;
    }

    .hdx-d-technical-commitee-img {
      //width: 458px;
      //height: auto;
    }

    .hdx-d-bottom-content-img {
      margin-top: -188px;
    }

    .hdx-d-bottom-content-text-wrapper {
      text-align: center;
      padding: 66px 200px 50px;
    }
  }

  @media (max-width: breakpoint-max('lg')) {

    .header-background {
      height: 1070px;
    }

    .hdx-d-transform-background {
      bottom: 0;
      height: 1000px;
    }

    .hdx-d-more-information-btn-wrapper {
      display: flex;
      justify-content: center;
    }

    .hdx-d-top-content-info-box-item:first-child {
      text-align: center;
    }

    .hdx-d-top-content-info-box-item:last-child {
      padding-left: 0;
    }

    .hdx-d-middle-content-container {
      padding-top: 250px;
      height: 1400px;
    }

    .hdx-d-avantage-icon {
      width: 100px;
      height: 100px;
    }

    .hdx-d-advantage-item {
      padding-bottom: 60px;
    }

    .hdx-d-info-box-title {
      text-align: center;
    }

    .hdx-d-info-box-text {
      text-align: center;
    }

    .hdx-d-hydradx-concil {
      margin-top: 80px;
    }

    .hdx-d-technical-commitee-item {
      padding-bottom: 70px;
      padding-right: 0;
    }

    .hdx-d-technical-commitee-item:first-child {
      padding-right: 0;
    }

    .hdx-d-bottom-content-img {
      right: 21%;
    }

    .hdx-d-bottom-content-text-wrapper {
      padding: 0 66px;
    }

    .hdx-d-bottom-content-container {
      margin-top: 0;
    }
  }

  @media (max-width: breakpoint-min('md')) {

    .header-background {
      height: 1162px;
    }

    .hdx-d-avantage-icon {
      width: 90px;
      height: 90px;
    }

    .hdx-d-bottom-content-container {
      margin-top: 0;
    }

    .hdx-d-middle-content-container {
      padding-top: 200px;
      height: 1340px;
    }

    .hdx-d-bottom-content-img {
      right: 12%;
    }

    .hdx-d-bottom-content-text-wrapper {
      padding: 0 36px;
    }

    .hdx-d-content-title {
      margin: 0 80px;
    }
  }

  @media (max-width: breakpoint-min('sm')) {
    .hdx-d-bottom-content-text-wrapper {
      padding: 0;
    }

    .hdx-d-technical-commitee-img {
      //width: 400px;
    }

    .header-background {
      height: 1120px;
    }

    .hdx-d-middle-content-container {
      height: 1440px;
    }
  }
}
