.page-join-hydration {
  .join-hydration {
    max-width: 951px;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .img {
    display: block;
    margin: auto;
  }

  img.logo {
    @extend .img;
    width: 150px;
  }

  img.separator {
    @extend .img;
    width: 68px;
  }

  .btn-application-form {
    margin-top: 2em;
  }

  @media (max-width: breakpoint-min(sm)) {
    .join-hydration {
      margin-bottom: 5em;
    }
  }
}
