include ./head

include ./header
include ./footer
include ./components/hdx-text-with-arrow
include ./components/hdx-info-box
include ./components/hdx-info-box-with-header
include ./components/hdx-left-body-icon
include ./components/hdx-right-body-icon
include ./components/hdx-social-media-btn
include ./components/hdx-text-with-arrow
include ./components/hdx-info-box
include ./components/hdx-info-box-with-header
include ./components/hdx-left-body-icon
include ./components/hdx-right-body-icon
include ./components/hdx-img-icon
include ./components/hdx-chart-legend-item
