.btn {
  border: 2px solid var(--btn-border-color);
  background-color: var(--bgc);
  color: var(--primray-color);
  text-shadow: 0px 0px 10px rgba(246, 83, 162, 0.81);
  text-transform: uppercase;
  box-shadow: 0px 0px 40px rgba(94, 175, 225, 0.6);
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;

  &__xlg {
    padding: 1em 2.5em;
    font-size: 40px;
  }

  &__lg {
    padding: 16px 2.7em;
    font-size: 24px;
    line-height: 25px;
  }

  &__md {
    padding: 14px 2.7em ;
    font-size: 18px;
    line-height: 19px;
  }

  &__sm {
    padding: 5px 0.6em;
    border-width: 1.5px;
    text-transform: capitalize;
    text-shadow: none;
    box-shadow: none;
    font-size: 18px;
    line-height: 19px;
  }

  &:hover {
    border-color: var(--primray-color);
    background-color: var(--text-color);
    color: var(--footer-bgc);
    text-decoration: none;
  }

  @media (max-width: breakpoint-min(lg)) {
    &__lg {
      padding: 0.4em 2em;
      font-size: 1.1em;
    }
  }

  @media (max-width: breakpoint-min('md')) {
    &__sm {
      font-size: 16px;
    }
  }

  @media (max-width: breakpoint-min(sm)) {
    &__lg {
      padding: 0.4em 2em;
      font-size: 1.1em;
    }
  }
}
