.hdx-chart-legend-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.hdx-chart-legend-item-box-color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 5px;
}

.hdx-chart-legend-item-text {
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: breakpoint-min(xxl)) {
  .hdx-chart-legend-item-text {
    padding-right: 15px;
  }
}