.info-box {
  border: 2px solid var(--border-color);
  background-color: var(--bgc);

  &__content {
    padding: 1.8em 1em;
  }

  &__bottom {
    border-top: 1px solid var(--border-color);
    text-align: center;
  }

  &__action {
    text-transform: uppercase;
    padding: 0.4em 1.5em;
    display: inline-block;
    color: var(--primray-color);
    text-shadow: 0px 0px 10px rgba(246, 83, 162, 0.81);
    font-size: 20px;
  }

  &--shadow {
    box-shadow: 0px 0px 40px rgba(94, 175, 225, 0.6);
    border-radius: 2px;
  }

  &--bold {
    border-width: 3px;
  }

  @media (max-width: breakpoint-min('sm')) {
    &__content {
      padding: 1.5em 1em;
    }
  }
}
