.listing {
  list-style: none;
  padding: 0;
  margin: 0;

  &__no-style &__item {
    &:before {
      content: none;
    }
  }

  &__item {
    padding: 5px 0;
    display: flex;

    &:before {
      content: '';
      background-image: url("./images/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      margin: 0.5em 12px 0.5em 0;
      flex: 0 0 22px;
    }
  }

  &__item--inline {
    display: list-item;

    &:before {
      width: 22px;
      height: 22px;
    }
  }

  &__item--red {
    &:before {
      background-image: url("./images/arrow-red.svg");
    }
  }

  &__item--large {
    font-size: 24px;

    &:before {
      flex: 0 0 37px;
      margin: 0.4em 12px 0.4em 0;
    }
  }

  @media (max-width: breakpoint-min('sm')) {
    &__item--large {
      font-size: 1em;

      &:before {
        margin: 0.5em 12px 0.5em 0;
        flex: 0 0 22px;
      }
    }
  }
}
