.p-color {
    color: var(--primray-color);
}

.p-shadow {
    text-shadow: 0px 0px 10px rgba($primary-color, 0.81);
}

.h-box-shadow {
    box-shadow: 0px 0px 40px rgba($border-color, 0.6);
}

.meta-color {
    color: var(--meta-color);
}

@media (max-width: $breakpoint) {
    .center-on-breakpoint {
        text-align: center;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

.text-center {
    text-align: center;
}

.h-pr-100 {
    padding-right: 100px;
}

.h-text-transform-uppercase {
    text-transform: uppercase;
}

.ff-sans {
    font-family: var(--sans-font);
}

.ff-sans-hl {
    font-family: var(--sans-font-hl);
}

.headline-1 {
    font-family: var(--sans-font-hl);
    font-size: 72px;

    @media (max-width: breakpoint-min('lg')) {
        font-size: 50px;
    }

    @media (max-width: breakpoint-min('sm')) {
        font-size: 40px;
    }
}

.headline-2 {
    font-family: var(--sans-font-hl);
    font-size: 40px;

    @media (max-width: breakpoint-min('sm')) {
        font-size: 28px;
    }
}

.fz-48 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
}

.fz-40 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
}

.fz-24 {
    font-size: 24px;
    line-height: 32px;
}

.fz-20 {
    font-size:20px;
    line-height: 28px;
}

.fz-18 {
    font-size:18px;
    line-height: 30px;
}

[role="button"] {
    cursor: pointer;
}

.link-highlight-on-hover {
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover {
        color: var(--primray-color);
        border-bottom: 2px solid;
    }
}

@media (max-width: 1490px) {
    .fz-48 {
        font-size: 43px;
        line-height: 58px;
    }

    .fz-40 {
        font-size: 38px;
        line-height: 48px;
    }

    .fz-24 {
        font-size: 22px;
        line-height: 28px;
    }

    .fz-20 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: breakpoint-max('md')) {
    .fz-48 {
        font-size: 38px;
        line-height: 44px;
    }

    .fz-40 {
        font-size:32px;
        line-height: 40px;
    }

    .fz-24 {
        font-size: 20px;
        line-height: 24px;
    }

    .fz-20 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: breakpoint-min('sm')) {
    .fz-48 {
        font-size: 32px;
        line-height: 44px;
    }
}
