<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
        <div class="footer">
            <a class="home" href="/" target="blank"></a>
            <a
              class="button"
              href="https://github.com/galacticcouncil?tab=repositories"
              target="blank"
              >GitHub</a
            >
            <a class="button" href="https://twitter.com/hydra_dx" target="blank"
              >Twitter</a
            >
            <a class="button" href="https://discord.com/invite/xtVnQgq" target="blank"
              >Discord</a
            >
            <a class="button" href="/faq">FAQ</a>
            <a class="button" href="https://hack.hydradx.io" target="blank">Hack-Net</a>
            <a class="globe"></a>
          </div>
    </main>
    </body>
</html>