<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper {% if page.style %}{{ page.style }} {% endif %}">{{ content }}</div>
      <div class="footer">
        <a class="home" href="{{ site.url }}/"></a>
        <div class="bottom-links">
          <a
            class="button"
            href="https://github.com/galacticcouncil?tab=repositories"
            target="blank"
            >GitHub</a
          >
          <a class="button" href="https://twitter.com/hydra_dx" target="blank"
            >Twitter</a
          >
          <a
            class="button"
            href="https://discord.com/invite/xtVnQgq"
            target="blank"
            >Discord</a
          >
          <a class="button" href="https://t.me/hydradx" target="blank"
            >Telegram</a
          >
          <a class="button" href="https://docs.hydradx.io/" target="blank"
            >Docs</a
          >
          <a class="button" href="{{ site.url }}/faq">FAQ</a>
          <a class="button" href="{{ site.url }}/jobs">Jobs</a>
          <a
            class="button"
            href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc-01.hydradx.io#/explorer"
            target="blank"
            >Explorer</a
          >
          <a class="button" href="https://claim.hydradx.io" target="blank"
            >Claims</a
          >
          <a
            class="button"
            href="https://hydradx.substack.com/archive"
            target="blank"
            >Blog</a
          >
        </div>
        <a class="globe" href="#"></a>
      </div>
    </main>
  </body>
</html>
